.background {
  viewport-fill: fb-cyan;
}

#game-time-clock {
  fill: black;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
/*   margin-bottom: 10px; */
}
